body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.header {
    background-color: #0056b3;
    /* Change brown to blue */
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.portal_name {
    font-size: 30px;
    font-weight: bolder;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
textarea,
select,
input[type="date"],
input[type="time"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    width: 100%;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #0056b3;
}


footer {
    background-color: #0056b3;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-top: 2px solid #fff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer:hover {
    background-color: #003f7f;
    transition: background-color 0.3s ease;
}

footer p {
    margin: 0;
}
#achievementTable {
    width: 100%;
    border-collapse: collapse;
}

#achievementTable th,
#achievementTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#achievementTable th {
    background-color: #0056b3;
    color: white;
}

#achievementTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* Style for file input and its label */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* Hide the default file input button */
input[type="file"]::-webkit-file-upload-button {
    display: none;
}

/* Style the custom file input button */
.custom-file-upload {
    display: inline-block;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}
